#zemin {
  background-color: #caba9c;
}
/* Ödev içeriği hedefi_1.1: Birleştirici seçici kullanımı */
div > h3 {
  color: darkblue;
}
/* Ödev içeriği hedefi_1.2: Yapısal sözde sınıf seçicisi kullanımı */
tr:nth-child(odd) {
  background-color: orange;
}
/* Ödev içeriği hedefi_1.3: Modern seçici kullanımı */
div:has(table) {
  border: 5px solid maroon !important;
}
.s1 {
  display: inline-grid;
}
.s2 {
  border-radius: 20px;
}
